aniso8601
asgiref
Django
django-cors-headers
django-rest-framework
djangorestframework
djangorestframework-simplejwt
graphene
graphene-django
graphql-core
graphql-rela
promise
PyJWT
pytz
Rx
singledispatch
six
sqlparse
text-unidecode
